{% extends "authapp/base.html" %}
{% load static %}

{% block content %}

<form class="form-signin" action="{% url 'auth:anonym' %}" method="post">
  {%csrf_token%}
      <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Имя</label>
      <input name="name" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Иванов Иван">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Адрес доставки</label>
      <textarea name="address" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Москва, ул. Эдварда Грига, д.5, кв. 188"></textarea>
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Телефон</label>
      <input name="phone" type="text" class="form-control" id="formGroupExampleInput" placeholder="+79296011776">
    </div>
      <button type="submit" class="btn btn-primary">Отправить</button>
</form>
<div>
    <a href="{%url 'main'%}">на главную</a>
</div>

{%endblock%}