<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="">
        {%for item in type_menu%}
        <li><a href="{%url 'products:type' item.pk%}" {%if request.resolver_match.kwargs.category_pk == item.pk %}
               class="active"{%endif%}>
            {%if item.name == "Потолочные светильники (люстры)"%}
            Люстры
            {% elif item.name == "Настенные светильники (бра)"%}
            Бра
            {% elif item.name == "Напольные светильники (торшеры)"%}
            Торшеры
            {% else%}
            {{item.name}}
            {%endif%}</a></li>
    {%endfor%}
      </ul>
    </div>
  </div>
</nav>

