<ul class="menu">
    <li><a href= "{% url 'main'%}" {%if request.resolver_match.url_name == 'main'%}
        class="active"{%endif%}>домой</a></li>
    <li><a href="{% url 'products:index'%}" {%if request.resolver_match.namespace == 'products'%}
        class="active"{%endif%}>продукты</a></li>
    <li><a href="{% url 'contacts'%}" {%if request.resolver_match.url_name == 'contacts'%}
        class="active"{%endif%}>контакты</a></li>
    {%if user.is_authenticated%}
        <li><a href="{% url 'auth:edit'%}">
            {%if user.first_name%}
                {{user.first_name}}
            {%elif user%}
                {{user}}
            {%else%}
                Пользователь
            {%endif%}
        </a></li>
        <li>
            <a href="{% url 'orderapp:order_list' %}">
                       заказы
            </a>
        </li>
        <li>
            {%if user.is_superuser%}
            <a href="/admin/">админ</a>
            {%endif%}
        </li>

        <li><a href="{% url 'auth:logout'%}">Выход</a></li>
    {%else%}
        <li><a href="{% url 'auth:login'%}">Вход</a></li>
    {%endif%}
</ul>
<a data-bs-toggle="modal" data-bs-target="#exampleModal" class="search"></a>
<a href="{%url 'basket:basket'%}" class="basket">
    <span>
    {%if basket%}
    {{basket.0.total_cost}} руб.
        {{basket.0.total_quantity}} шт
    {%endif%}
        </span></a>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <form action="{% url 'main:search' %}" method="get">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Поиск</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="input-group mb-3">
              <input name="search" type="text" placeholder="Что вы ищите?" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Искать</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
          </form>
  </div>
</div>
