{%extends 'main/base.html'%}
{%load static%}
{%block menu%}
		<div class="hero">
			<div class="header clearfix">
				<a class="logo">ЛУЧИ СВЕТА</a>
				{%include 'main/inc/inc_main_menu.html'%}
			</div>
			<h1>наши контакты</h1>
		</div>
{%endblock%}
{%block content%}
		<div class="location">
			<div class="location-1">
				<i class="fa fa-map-marker fa-5x"></i>
				<h4>Москва</h4>
				<div class="contacts">
					<h5>Телефон</h5>
					<p>+7-929-601-1776</p>
					<p>+7-995-787-1776</p>
				</div>
				<div class="contacts">
					<h5>Email</h5>
					<p>luchi_sveta@list.ru</p>
				</div>
				<div class="contacts">
					<h5>Адрес</h5>
					<p>Москва, пос. Коммунарка, ул. Липовый парк, д.6</p>
				</div>
			</div>
		</div>
<div class="location">
	<div class="delivery">
<i class="bi bi-alarm"></i>
		<h4>Доставка</h4>
			<p>Доставка по Москве и Московской области: </p>

			<p>Доставка осуществляется при заказе от 3000 руб. Стоимость доставки - 300 руб.</p>
			<p>При сумме заказа от 10000 руб. - доставка бесплатна.</p>
			<p>По желанию клиента возможна доставка транспортными компаниями и курьерскими службами.</p>

			<p>Самый лучший, надежный, качественный, экономичный и моментальный способ оформления заказа — это позвонить нам по номеру +7-929-601-17-76 с 9:00 до 20:00.</p>
			<p>Доставка в регионы осуществляется транспортными компаниями по согласованию с клиентом</p>
	</div>
</div>

		<div class="clr"></div>

{%endblock%}
