{%extends 'main/base.html'%}
{%load static%}
	{%block menu%}
<meta name="description" content="Лучи Света - интернет магазин. Интерьерные светильники потолочные, настенные, напольные, встраиваемые,
ландшафные, светодиодные ленты. Доставка, скидки, акции"/>
		<div class="slider">
			<div class="header clearfix">
				<p class="logo">ЛУЧИ СВЕТА</p>
				{%include 'main/inc/inc_main_menu.html'%}
			</div>
			<div class="text-slider">
				<h3 class="green">сделай</h3>
				<h3 class="big">жизнь ярче</h3>
				<a href="/products" class="button-order">каталог <img src="/static/img/arrow.png" alt=""></a>
			</div>	

		</div>
	{%endblock%}
{%block content%}

<div style="margin-top: 100px">
	<a href="{%url 'products:sales'%}"><img src="/static/img/май-st.jpg" width="100%" height="500px"></a>
</div>
<div class="category-products clearfix" style="margin-top: 10%">

                {%for type in types%}
                <div class="block" style="margin-bottom: 5px; width: 330px;">
                    <div class="card" style="border: none;">
                      <a href="{%url 'products:type' type.pk%}">
						  {%if type.name == "Люстры"%}<img src="http://vokruglamp.ru/export/img/053/f71f5e22bbf4ce2753739ff84686eeb3.jpeg" alt="{{product.name}}" height="300px">
						  {%elif type.name == "Светильники"%}<img src="http://vokruglamp.ru/export/img/28a/e0749a18cbcded93fb252f6bb5683de7.jpeg" alt="{{product.name}}" height="300px">
						  {%elif type.name == "Бра и подсветки"%}<img src="http://vokruglamp.ru/export/img/682/dabdf0d03b925257862f740c70d2f383.jpeg" alt="{{product.name}}" height="300px">
						  {%elif type.name == "Трековые системы"%}<img src="http://vokruglamp.ru/export/img/075/b271e00a4e0de51bca255d84e1d40e74.jpeg" alt="{{product.name}}" height="300px">
						  {%elif type.name == "Торшеры"%}<img src="http://vokruglamp.ru/export/img/e36/ef482ef1710fbb4ddd2502353696689c.jpeg" alt="{{product.name}}" height="300px">
						  {%elif type.name == "Настольные лампы"%}<img src="http://vokruglamp.ru/export/img/697/2f07743e6ff2abf96457612acfa6699e.jpeg" alt="{{product.name}}" height="300px">
						  {%elif type.name == "Светодиодная подсветка"%}<img src="http://vokruglamp.ru/export/img/84a/ada4a41c02b7a69d6f6c470f19e17d08.jpeg" alt="{{product.name}}" height="300px">
						  {%elif type.name == "Споты"%}<img src="http://vokruglamp.ru/export/img/8ed/cb8c905bfc8e77c73d25861c37acea8c.jpeg" alt="{{product.name}}" height="300px">
						  {%elif type.name == "Электротовары"%}<img src="http://vokruglamp.ru/export/img/12f/a244f80bac3293a03b71b032e0e09ce5.jpeg" alt="{{product.name}}" height="300px">
						  {%elif type.name == "Офисное освещение"%}<img src="http://vokruglamp.ru/export/img/af1/39feb441101f100d3ef694b6c381019f.jpeg" alt="{{product.name}}" height="300px">
						  {%elif type.name == "Уличное освещение"%}<img src="http://vokruglamp.ru/export/img/db9/b5847c565f0308380cbbc6453b4c438c.jpeg" alt="{{product.name}}" height="300px">
						  {%elif type.name == "Комплектующие"%}<img src="http://vokruglamp.ru/export/img/e68/bf27785640ff217e9d1c1e3e63dfb192.jpeg" alt="{{product.name}}" height="300px">
						  {%elif type.name == "Новогодние товары"%}<img src="http://vokruglamp.ru/export/img/5cf/9edb6b9b7fc3b263b86740c635839dc4.jpeg" alt="{{product.name}}" height="300px">
						  {%elif type.name == "Лампочки"%}<img src="https://onec-dev.s3.amazonaws.com/upload/media/4d31817e-8516-4706-8570-4f2f2dda23b1/s/2428_on_w_standard.jpeg" alt="{{product.name}}" height="300px">
						  {%elif type.name == "Предметы интерьера"%}<img src="http://vokruglamp.ru/export/img/1c1/0ec360c243d4a23244accb3d04851604.jpeg" alt="{{product.name}}" height="300px">
						  {%endif%}
					  </a>
                      <div class="text" style="text-align: center">
                            <h4>{{type.name| truncatewords:5}}</h4>
                      </div>
                    </div>
                </div>
                {%endfor%}
            </div>

		<div class="featured">
			<div class="featured-menu">
					<a class="active" href="#">Популярные</a>
			</div>
			<a class="explore" href="{%url 'products:category' 0%}">показать все <img src="{%static 'img/arrow.png'%}" alt=""></a>
			<div class="clearfix">
			</div>
			<div class="tab-content">
				{%for random_product in random_products%}
				<div class="block">
						<a href="{%url 'products:product' random_product.pk%}"><img src="{{random_product.image}}" alt="{{random_product.name}}" width="267px" height="267px">
							<div class="text">
								<h3> {{random_product.category.name}}</h3>
								<h4>{{random_product.name}}</h4>
								<p>{{random_product.price}}</p>
							</div>
						</a>
				</div>
				{%endfor%}
			</div>
		</div>
{%endblock%}
		
