{%extends 'main/base.html'%}
{%load static%}
{%block menu%}
<meta name="description" content="светильники (бра, торшеры, люстры, светодиодные ленты) фирмы{{category.name}}"/>
    <div class="hero-white">
        <div class="header clearfix">
				<p class="logo">ЛУЧИ СВЕТА</p>
				{%include 'main/inc/inc_main_menu.html'%}
			</div>
    </div>
{%endblock%}

{%block content%}
    <div class="detalis">
        <div class="type-menu clearfix">
			{%include 'main/inc/inc_type_menu.html'%}
				</div>
        <div class="links clearfix">
            {%include 'main/inc/inc_categories_menu.html'%}
        </div>

        <div class="products_list">
            <div class="title clearfix">
                <h2>
                    Категория: "{{category.name|title}}" ({{category.description}})
                </h2>
            </div>
            <div aria-label="Page navigation example">
                      <ul class="pagination">
                          {% if products.has_previous %}
                        <li class="page-item"><a class="page-link" href="{% url 'products:page' category.pk 1 %}{{q}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="{% url 'products:page' category.pk products.previous_page_number%}{{q}}">{{products.previous_page_number}}</a></li>
                          {% endif %}
                        <li class="page-item"><a class="page-link" href="#" style="font-size: 22px;">{{products.number}}</a></li>
                          {% if products.has_next %}
                        <li class="page-item"><a class="page-link" href="{% url 'products:page' category.pk products.next_page_number %}{{q}}">{{products.next_page_number}}</a></li>
                       <li class="page-item"style="margin-left:5px;">
                          <a class="page-link"  href="{% url 'products:page' category.pk last_page %}{{q}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;{{last_page}}&raquo;</span>
                          </a>
                        </li>
                            {% endif %}
                            <form method="get" class="search-form rounded">
                                <label>По цене</label>
                                от <input name="price_min" type="number" id="form-number">
                                до <input name="price_max" type="number" id="form-number">
                                <label>По цвету</label>
                                <select class="form-select" aria-label="Default select example" name="color" style="width:10em;">
                                    <optgroup label="Выбери цвет">
                                    <option selected></option>
                                    <option value="Черный">Черный</option>
                                  <option value="Белый">Белый</option>
                                  <option value="Серый">Серый</option>
                                  <option value="Золото">Золото</option>
                                  <option value="Желтый">Желтый</option>
                                  <option value="Красн">Красный</option>
                                  <option value="Корич">Кориневый</option>
                                  <option>Хром</option>
                                  <option>Бронза</option>
                                  <option>Метал</option>
                                  <option value="Серебр">Серебро</option>
                                  <option>Латунь</option>
                                  <option>Никель</option>
                                  <option>Прозрачный</option>
                                  <option>Розовый</option>
                                    </optgroup>
                                </select>
                                <div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="sort" id="inlineRadio1" value="price">
                                      <label class="form-check-label" for="inlineRadio1">Дешевле</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="sort" id="inlineRadio2" value="-price">
                                      <label class="form-check-label" for="inlineRadio2">Дороже</label>
                                    </div>
                                <button type="submit" class="btn btn-outline-success" style="margin-left:10px">Применить</button>
                                <button type="reset" class="btn btn-outline-success">Cбросить</button>
                            </div>
                            </form>
                      </ul>
                    </div>
            <div class="category-products clearfix">

                {%for product in products%}
                <div class="block">
                    <div class="card" style="width: 20rem; min-height: 105%;">
                      <a style="display:block; margin:auto; margin-top: 0px;" href="{%url 'products:product' product.pk%}"><img style="max-width: 270px; max-height: 270px;" src="{{product.image}}" alt="{{product.name}}">
                      </a>
                      <div class="text" style="position:absolute; bottom:0; margin-left: 1rem;">
                            <h4>{{product.category}} ({{product.category.description}})</h4>
                          <h6>{{product.article}}. {{product.name| truncatewords:3}}</h6>
                          {%if product.sale_price%}
                            <p style="margin-bottom:0rem"><span style="text-decoration: line-through">{{product.price}} руб</span>
                                <span style="color:red">{{product.sale_price}} руб</span></p>
                          {%else%}
                            <p style="margin-bottom:0rem">{{product.price}} руб</p>
                          {%endif%}
                      </div>
                    </div>
                </div>
                {%endfor%}
            </div>
            <nav aria-label="Page navigation example">
                      <ul class="pagination">
                          {% if products.has_previous %}
<!--                        <li class="page-item"><a class="page-link" href="{% url 'products:page' category.pk 1 %}{{q}}" aria-label="Previous">-->
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="{% url 'products:page' category.pk products.previous_page_number %}{{q}}">{{products.previous_page_number}}</a></li>
                          {% endif %}
                        <li class="page-item"><a class="page-link" href="#" style="font-size: 22px;">{{products.number }}</a></li>
                          {% if products.has_next %}
                        <li class="page-item"><a class="page-link" href="{% url 'products:page' category.pk products.next_page_number %}{{q}}">{{products.next_page_number}}</a></li>
                        <li class="page-item"style="margin-left:5px;">
                          <a class="page-link"  href="{% url 'products:page' category.pk last_page %}" aria-label="Next">
                            <span aria-hidden="true">&raquo;{{last_page}}&raquo;</span>
                          </a>
                        </li>
                            {% endif %}
                      </ul>
                    </nav>
            <a href="#" title="Вернуться к началу" class="topbutton">^Наверх</a>
        </div>

    </div>
    <div class="" style="display: flex; margin-left:10%">
        <a href="{%url 'products:sales'%}"><img src="/static/img/акция.jpg" width="100%"></a>
        <a href="{%url 'products:sales'%}"><img src="/static/img/апрель-st.jpg" width="70%"></a>
    </div>
{%endblock%}