{%extends 'main/base.html'%}
{%load static%}
{%block menu%}

		<div class="hero-white">
			<div class="header clearfix">
				<a class="logo">ЛУЧИ СВЕТА</a>
				{%include 'main/inc/inc_main_menu.html'%}
			</div>
		</div>
{%endblock%}
{%block content%}

		<div class="details">
			<div class="links clearfix">
				{%include 'main/inc/inc_categories_menu.html'%}

			</div>

			<div class="details-products">
				<div class="details-slider">
					<div class="slider-product">
						<img src="{{hot_product.image}}" height="500px">
					</div>
				</div>

				<div class="description">
					<h3 class="big-bold">{{hot_product.category}}</h3>
					<h3 class="red">горячее предложение</h3>
					<p class="price"> {{hot_product.price}} <span>руб</span></p>
					<a href="{%url 'products:product' hot_product.pk%}" class="red-button">
						заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
					</a>
					<div class="description-text">
						<p>{{hot_product.name}}</p>
						<p>{{hot_product.type}} серии {{hot_product.series}} Прекрасно дополнит
						и подчеркнет изысканый стиль Вашего интерьера. Цвет - {{hot_product.color}},
							количество ламп - {{hot_product.lamps}} шт. ({{hot_product.lamps_type}})
							мощьность {{hot_product.power}} Вт
						</p>
					</div>
				</div>
			</div>

			<div class="related">
				<div class="title clearfix">
					<h2>Похожие продукты</h2>
					<a class="explore" href="{%url 'products:product' hot_product.pk%}">показать все <img src="/static/img/arrow.png" alt=""></a>
				</div>
				<div class="related-products clearfix">
					{%for product in same_product%}
						<div class="block">
							<a href="{%url 'products:product' product.pk%}"><img src="{{product.image}}" alt="{{product.name}}"
																				 height="300px">
								<div class="text">
									<img src="/static/img/icon-hover.png" alt="img">
									<h4>{{product.name}}</h4>
									<p>{{product.price}}</p>
								</div>
							</a>
						</div>
					{%endfor%}
				</div>

			</div>
		</div>
{%endblock%}
